{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block content_title %}<h1>Choose a User to Change or Add a new one</h1>{% endblock %}



<!- 944px -->

{% block filters %}
        {% if cl.has_filters %}
<style>@media only screen and (min-width: 1300px) {
.PG1{position:absolute;left:18%;}}</style>
    <div class="PG1 " style="">
          <div id="changelist-filter" style="" class="">
            <h2 style="font-style:italic">Try Filter </h2>
            {% if cl.preserved_filters %}<h3 id="changelist-filter-clear">
              <a href="?{% if cl.is_popup %}_popup=1{% endif %}">&#10006; {% trans "Clear all filters" %}</a>
            </h3>{% endif %}
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
    </div>
        {% endif %}

      {% endblock %}



{% block search %}
<style>
@media only screen and (min-width: 1300px) {
.PG2{position:absolute;left:20%;top: 5%;width:1016px;}}</style><div style="" class="PG2">{% search_form cl %}</div>{% endblock %}


<form style="" id="changelist-form" method="post"{% if cl.formset and cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
    {% if cl.formset %}<div>{{ cl.formset.management_form }}</div>{% endif %}

{% block result_list %}
    <style>
@media only screen and (min-width: 1300px) {
.PG3{position:absolute;left:20%;top:20%;width:1016px;}}</style><div style="" class="PG3">{% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %} <!-There will be diff diff effect if we use the range from h1 to h6 tags and for p tag --><br><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><a style="color:white;background-color:#999999;border-radius:10px;padding:5px 10px 5px 10px;font-size:12px;">CHANGE OUR USER&emsp;<i class="fa fa-pencil" aria-hidden="true" style=""></i></a><br><br>{% result_list cl %} {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}</div>{% endblock %}</form>

{% block pagination %}
<style>
@media only screen and (min-width: 1300px) {
.PG4{position:absolute;left:20%;top:70%;width:1016px;}}</style><div style="" class="PG4">{% pagination cl %}</div>{% endblock %}
